@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}

*::-webkit-scrollbar-track {
  background: #151319;

}

*::-webkit-scrollbar-thumb {
  background-color: #1d1c1c;
  border-radius: 50px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #585858;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
